<div class="links-pages">
  <a class="link-home" href="">
    <span class="material-symbols-outlined"> grid_view </span>
    Dashboard
  </a>
  /
  <a class="link-home" href="">
    <span class="material-symbols-outlined"> inventory_2 </span>
    Estoque
  </a>
</div>
