.container-graphs-produtos {
  margin-top: 1.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1.1rem;
  justify-content: row;
}

.chart {
  height: 100% !important;
  background-color: #fff !important;
  width: 37.5%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.chart h3 {
  font-weight: bold;
  align-items: start;
  margin: 30px 0;
}

.graph-single {
  height: 100% !important;
  background-color: #fff !important;
  width: 37.5%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.graph-produto {
  width: 100%;
  padding: 2rem;
}

.graph-single h3 {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.img-control-inventory {
  width: 100%;
  height: 400px;
}

@media (min-width: 20px) and (max-width: 860px){
  .img-control-inventory {
    display: none;
  }
  
  .container-graphs-produtos{
    display: flex;
    justify-content: column;
    align-items: center;
    /*flex-wrap: wrap;*/
  }

  .chart {
    display: none;
  }
  
  .graph-single {
    width: 110%;
    /*width: 50%;
    /*padding-bottom: 30px;*/
  }

  .produtos{
    /*width: 100%;*/
    overflow-y: auto;
    min-height: 500px;
  }
  
}