<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

    <head>
        <link rel="stylesheet" href="/src/css/configuracao/conficguracao.css">
        <link rel="stylesheet" href="/src/css/banners/banners.css">

    </head>

    <body>
        <%- include('./partials/nav.ejs') %>
            <main>
                <%- include('./partials/usermenu.ejs') %>
                <!-- Configuração:
                -->
                    <div class="conf-all">
                        <h2 class="conf-h2">Configuração</h2>
                        <p class="conf-al-p-1">Conforme as especificações do sistema e suas funcionalidades, concordo que o mesmo trabalhará da seguinte maneira:</p>
                        <form action="" class="conf-al-form">
                            <div class="conf-al-form">
                                <label for="">A partir de R$</label>
                                <input type="number" name="valorDinheiro" id="valorDinheiro" class="conf-tam-input" placeholder="000,00">

                                
                                <label for="">o cliente receberá </label>
                                <input type="number" name="pontosChopp" id="pontosChopp" class="conf-tam-input" placeholder="000">

                                <label for="">mls de Chopp, e R$</label>
                                <input type="number" name="cashBack" id="cashBack" class="conf-tam-input" placeholder="000,00">

                                <label for=""> de Cash Back.</label>
                            </div>
                            <div class="conf-al-btn">
                                <input type="button" value="Atualizar Configurações" class="conf-btn-atualizar">
                            </div>
                        </form>
                    </div>

                    <!-- Banners
                    <form action="/banners" method="post" enctype="multipart/form-data">
                        <label for="title">Título</label>
                        <input type="text" name="titulo">
                        <label for="description">Descrição</label>
                        <input type="text" name="descricao">
                        <label for="nameButton">Nome do Butão</label>
                        <input type="text" name="botao">
                        <label for="imageBanner">Imagem do Banner</label>
                        <input type="file" name="foto">
                        <button type="submit">Enviar Banners</button>
                    </form>
                    -->

                    <!-- Banners 2-->
                    <!--
                    <div class="ban-all">
                        <h2 class="ban-h2">Banners</h2>
                        <div class="ban-al-1">
                            <div class="banner-img-ex banner-img-ex-3">
                                <img src="/src/image/Marketing2.png" alt="" srcset="">
                            </div>
                            <div class="ban-card">
                                <p class="ban-sub-t">Banner 1</p>
                                <form action="" method="post" class="ban-all-form">
                                    <div class="ban-al-form-3">

                                        <div class="image-upload img-form-ex">
                                            <input type="file" id="input" accept="image/*"
                                                onchange="previewImage(event)">
                                            <label for="input" class="blurry-button">
                                                <img id="buttonImage" src="/src/image/banner.png"
                                                    alt="Selecione uma imagem">
                                            </label>
                                        </div>

                                        <div class="ban-al-form-2 ">
                                            <label for="tituloBanne" class="ban-form-l">Título: </label>
                                            <input type="text" name="tituloBanner" placeholder="Titulo do Banner"
                                                class="ban-form-i">
                                            <label for="descricaoBanner" class="ban-form-l">Descrição: </label>
                                            <textarea type="text" name="descricaoBanner"
                                                placeholder="Descrição do banner" class="ban-form-i"
                                                size="40"></textarea>
                                            <label for="localizacaoBanner" class="ban-form-l">Nome do Botão: </label>
                                            <input type="text" name="descricaoBanner" placeholder="Descrição do banner"
                                                class="ban-form-i">
                                        </div>
                                    </div>

                                    <input type="button" value="Definir Banner" class="ban-form-b">
                                </form>
                            </div>
                            <div class="banner-img-ex banner-img-ex-2">
                                <img src="/src/image/Marketing4.png" alt="" srcset="">
                            </div>
                        </div>
                        -- Tabela --
                        <div>
                            <table id="tabela" class="cell-border tabela">
                                <thead>
                                    <tr>
                                        <th>Título</th>
                                        <th>Localização</th>
                                        <th>Descrição</th>
                                        <th>Nome do Botão</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>teste</td>
                                        <td>teste</td>
                                        <td>teste</td>
                                        <td>teste</td>
                                        <td>teste</td>
                                    </tr>
                                    <tr>
                                        <td>teste</td>
                                        <td>teste</td>
                                        <td>teste</td>
                                        <td>teste</td>
                                        <td>teste</td>
                                    </tr>
                                    <tr>
                                        <td>teste</td>
                                        <td>teste</td>
                                        <td>teste</td>
                                        <td>teste</td>
                                        <td>teste</td>
                                    </tr>
                                    <tr>
                                        <td>teste</td>
                                        <td>teste</td>
                                        <td>teste</td>
                                        <td>teste</td>
                                        <td>teste</td>
                                    </tr>
                                    <tr>
                                        <td>teste</td>
                                        <td>teste</td>
                                        <td>teste</td>
                                        <td>teste</td>
                                        <td>teste</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

            </main>
            <%- include('./partials/scripts.ejs') %>
                <script>
                    function previewImage(event) {
                        const reader = new FileReader();
                        reader.onload = function () {
                            const buttonImage = document.getElementById('buttonImage');
                            buttonImage.src = reader.result;
                        };
                        reader.readAsDataURL(event.target.files[0]);
                    }
                </script>
            -->
    </body>

</html>