.ban-all {
    background-color: white;
    /*color:red;*/
    margin-top: 15px;
    padding: 30px;
    border-radius: 15px;
}

.ban-al-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ban-c-al-1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.ban-h2 {
    font-size: 24px;
    color: #000000;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.ban-all-form {
    display: flex;
    flex-direction: column;
}

.ban-card {
    width: 48%;
    /*48%*/
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 10px;
}

.ban-sub-t {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    margin-bottom: 15px;
}

.ban-form-l {
    padding-bottom: 5px;
    font-weight: bold;
}

.ban-form-i {
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
}

.ban-form-b {
    background-color: #34495e;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
}

.ban-t-loc {
    margin-bottom: 10px;
}

.ban-al-form-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.ban-al-form-3 {
    display: flex;
    flex-direction: row;
}

/**/
.image-upload {
    position: relative;
    display: inline-block;
}

#input {
    display: none;
}

.blurry-button {
    cursor: pointer;
}

#preview {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
}

#buttonImage {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 15px;
    border: 1px solid #000000;
    transition: filter 0.3s ease;
}

#buttonImage:hover {
    filter: brightness(0.8);
    /* Reduzindo a luminosidade da imagem em 20% */
}

.img-form-ex {
    /*border: 1px solid #000000;*/
    border-radius: 15px;
}

#input {
    border-radius: 15px;
}

textarea {
    height: 60px;
}

.banner-img-ex img {
    width: 350px;
    height: auto;
}

/*Tabela*/

#tabela {
    background-color: #ffffff;
    margin-top: 1.3rem;
    height: 100%;
    padding: 24px;
    border-radius: 15px;
}

.tabela tr td,
.tabela tr th {
    width: 15%;
}

.produtos {
    background-color: #ffffff;
    margin-top: 1.3rem;
    height: 100%;
    padding: 2rem;
    border-radius: 15px;
}

.text-logo-produtos {
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(0, 0, 138);
}

.tabela {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: 0 !important;
    height: 100%;
    margin-top: 2rem;
    font-family: "Poppins", sans-serif !important;
}

.tabela thead th {
    background-color: var(--cor-fonte-rota);
    color: var(--branco);
    font-weight: 600;
    margin-right: 5px;
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
    text-align: center !important;
}

.tabela tr {
    text-align: center;
}

.tabela th,
.tabela td {
    padding: 10px !important;
    vertical-align: middle;
    border: 0 !important;
}

.dataTables_length {
    display: none;
}

.dataTables_wrapper .dataTables_filter {
    padding: 15px 0;
    float: left !important;
}

.dataTables_filter {
    position: relative;
    width: 100% !important;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    float: none !important;
}

.dataTables_info {
    display: none;
}

.dataTables_paginate {
    margin-top: 10px;
}

.tabela th {
    color: #797979;
    font-weight: normal !important;
    font-size: 0.9rem;
    margin: 0 auto;
}

.tabela tr td {
    width: auto;
}

.tabela tr td:nth-child(1) {
    width: 32px;
}

.tabela tr td:nth-child(2) {
    width: 20%;
    /* font-weight: bold;  */
}

.tabela tr td:nth-child(3) {
    width: 10%;
}

.tabela tr td:last-child {
    font-weight: bold;
}

.tabela tr:nth-child(even) {
    background-color: #f2f2f2;
    border: 0 !important;
}

.tabela tr:hover {
    cursor: pointer;
}

table tbody tr:nth-child(even) {
    background-color: var(--cinza);
}

.container-actions-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.edit-btn,
.delete-btn {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.dataTables_filter input {
    border: 1px solid #e7e7e7 !important;
    outline: none;
    background-color: #f8f8f8 !important;

    border-radius: 5px !important;
    padding: 8px !important;
}

.edit-btn {
    background-color: #f0ad4e;
    color: white;
}

.delete-btn {
    background-color: #d9534f;
    color: white;
}

.btn-addProd {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #34495e;
    color: white;
    padding: 10px;
    gap: 10px;
    border-radius: 15px;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

.btn-addProd:hover {
    background-color: black;
    color: #fff;
    transition: all 0.5s;
    stroke: #fff;
    cursor: pointer;
}

#closeBtn {
    cursor: pointer;
}

.tabela tbody {
    border: none !important;
}

#search-prod-filter {
    position: absolute;
    left: 160px;
    color: #6d6d6d;
    top: 33%;
}

.status__ativo {
    /* background-color: var(--verde-escuro); */
    padding: .2rem;
    border-radius: 5px;
    color: var(--verde);
    font-weight: 700;
}

.status__inativo {
    /* background-color: var(--vermelho-medio); */
    color: var(--vermelho-medio);
    padding: .2rem;
    border-radius: 5px;
    font-weight: 700;
}

@media (max-width: 1200px) {
    .banner-img-ex-3 {
        display: none;
    }
}

@media (max-width: 759px) {
    .ban-al-form-3 {
        flex-direction: column;
        align-items: center;
    }

    .img-form-ex {
        display: flex;
    }

    .banner-img-ex-2 {
        display: none;
    }

    .ban-card {
        width: 100%
         ;
    }
}

@media (max-width:535px) {
    #buttonImage {
        width: 150px;
        height: 150px;
        max-width: 150px;
        max-height: 150px;
        min-width: 150px;
        min-height: 150px;
    }
}