.conf-all {
    background-color: white;
    /*color:red;*/
    margin-top: 15px;
    padding: 30px;
    border-radius: 15px;
}
.conf-h2 {
    font-size: 24px;
    color: #000000;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.conf-tam-input {
    width: 90px;
}
.conf-al-p-1{
    padding-top: 20px;
    padding-bottom: 10px;
}

.conf-btn-atualizar{
    background-color: #34495e;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}
.conf-btn-atualizar:hover{
    background-color: gray;
}

.conf-al-form{
    width: 100%;
}
.conf-al-btn{
    margin-top: 20px;
    margin-left: 50%;
    padding-right: 30px;
}